* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

html {
  color: #2c3e50;
}

.container {
  text-align: center;
  padding: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container img {
  width: 152px;
  border: 10px solid #00bc77;
  border-radius: 50%;
  padding: 16px;
}

.container h3 {
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  text-align: center;
  margin-top: 20px;
}

.container p {
  margin: 16px 0 16px 0;
}

.main-nav {
  padding: 5px 20px 1px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav img {
  max-width: 100%;
  width: 200px;
}

.main-nav .main-nav-item {
  margin-top: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  color: #2c3e50;
  font-weight: bold;
  margin-right: 8px;
}

.main-nav .main-nav-item .underline-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  color: #2c3e50;
}

.main-nav .sign-in {
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

.main-nav .underline-text:hover {
  text-decoration: underline;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 2px solid #ccc;
  padding: 2rem 0 1.5rem;
}

.footer-text {
  margin: 0;
  padding: 0;
}

.sign-in-content {
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  width: 300px;
  height: 360px;
  margin: 0 auto;
  margin-top: 48px;
  padding: 32px;
}

.sign-in-content h1 {
  padding: 20px 0 20px 0;
}

.sign-in-content .input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  margin-bottom: 16px;
}

.sign-in-content .input-wrapper label {
  font-weight: bold;
}

.sign-in-content .input-wrapper input {
  padding: 8px;
  font: size 19.2px;
}

.sign-in-content .input-remember {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 7px;
          column-gap: 7px;
  margin-left: 4px;
}

.sign-in-content .sign-in-button {
  text-decoration: underline;
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 17.6px;
  font-weight: bold;
  margin-top: 16px;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
}

.hero {
  background-image: url("../assets/img/banktree.jpeg");
  background-position: 0 -431px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  position: relative;
}

.hero .hero-content {
  position: absolute;
  top: 82px;
  right: 82px;
  width: 364px;
  background: white;
  padding: 32px;
}

.hero .hero-content .subtitle {
  font-weight: bold;
  font-size: 24px;
  text-align: left;
  margin: 0;
}

.hero .hero-content .text {
  text-align: left;
  margin-top: 20px;
  font-size: 19.2px;
}

.main {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-page {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-page .main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #12002b;
  height: 100;
}
/*# sourceMappingURL=styles.css.map */